<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              <%= @collection.name %>
          </h1>
          <ol class="breadcrumb">
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li class="active"><%= @collection.name %></li>
          </ol>
      </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-6">
      <p>
        <strong>Collection name:</strong>
        <%= @collection.name %>
      </p>
      <!-- Add table of items that belong to collection here -->
    </div>
  </div>
<hr>
<!-- /.row -->
<%= link_to items_path, class: "btn btn-default" do %>
<i class="fa fa-mail-reply"></i> Back
<% end %>

<%= link_to edit_collection_path(@collection), class: "btn btn-default" do %>
<i class="fa fa-pencil"></i> Edit
<% end %>
