<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Dashboard <small>Statistics Overview</small>
          </h1>
          <ol class="breadcrumb square">
              <li class="active">Dashboard</li>
          </ol>
      </div>
  </div>
  <!-- /.row -->

  <div class="row">
      <div class="col-lg-4 col-md-6">
          <div class="panel panel-coolblue">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-tags fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= current_user.items.count %></div>
                          <div><%= "Item".pluralize(current_user.items.count) %></div>
                      </div>
                  </div>
              </div>
              <%= link_to new_item_path do %>
                  <div class="panel-footer">
                      <span class="pull-left"><i class="fa fa-plus"></i></span>
                      <span class="pull-right panel-link">Add an item</span>
                      <div class="clearfix"></div>
                  </div>
              <% end %>
          </div>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="panel panel-darkblue">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-tasks fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= current_user.collections.count %></div>
                          <div><%= "Collection".pluralize(current_user.collections.count) %></div>
                      </div>
                  </div>
              </div>
              <a href="#">
                  <div class="panel-footer">
                      <span class="pull-left"><i class="fa fa-plus"></i></span>
                      <span class="pull-right panel-link">Add a collection for your items</span>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
      </div>
  </div>
<!-- /.row -->
