<nav class="navbar navbar-default navbar-fixed-top">
  <ul class="nav navbar-left top-nav">
    <li><h3><em>turbo</em>trader</h3></li>
  </ul>
  <ul class="nav navbar-right top-nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <li><%= link_to 'Login', new_user_session_path %></li>
  </ul>
</nav>
<div id="page-wrapper">
  <div class="row landing-teal-container">
    <div class="col-lg-12">
      <div>
        <h1 class="word-mark"><em>turbo</em>trader</h1>
      </div>
      <div class="row landing-tiles">
          <div class="col-md-4 text-center">
            <i class="fa fa-clipboard landing-page-icons"></i>
            <h2>Upload things you own</h2>
          </div>
          <div class="col-md-4 text-center">
            <i class="fa fa-line-chart landing-page-icons"></i>
            <h2>See how much it's been selling for online</h2>
          </div>
          <div class="col-md-4 text-center">
            <i class="fa fa-money landing-page-icons"></i>
            <h2>Sell it for cash!</h2>
          </div>
      </div>
    </div>
  </div>
  <div class="row landing-black-container">
    <div class="col-lg-12">
        <h1 class="call-to-action">You have cash in your home!</h1><br>
        <%= link_to new_user_session_path, class: "dashboard-tiles-links" do %>
        <div class="ready-container">
            <h2 class="ready">Ready to sell? Get started!</h2>
        </div>
        <% end %>
    </div>
  </div>
  <div class="row landing-footer-container">
    <div class="col-lg-12">
      <div>
        <h1 class="word-mark"><em>turbo</em>trader</h1>
      </div>
    </div>
  </div>
</div>
