  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
            <%= @item.title %>
          </h1>
          <ol class="breadcrumb">
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li><%= link_to 'Items', items_path %></li>
            <% if @item.collection.name.present? %>
            <li>
              <%= link_to collection_path(@item.collection) do %>
              <%= @item.collection.name %>
              <% end %>
            </li>
            <% end %>
            <li class="active"><%= @item.title %></li>
          </ol>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <p>
        <%= image_tag attachment_url(@item, :item_image, :fill, 300, 250, fallback: "default.png") %>
      </p>
      <p>
        <strong>Title:</strong>
        <%= @item.title %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @item.description %>
      </p>
      <p>
        <strong>Collection name:</strong>
        <%= @item.collection.name %>
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div id="item-chart"></div>
    </div>
  </div>
<hr>

<div class="row">
  <div class="col-lg-12">
    <%= link_to items_path, class: "btn btn-default" do %>
    <i class="fa fa-mail-reply"></i> Back
    <% end %>

    <%= link_to edit_item_path(@item), class: "btn btn-default" do %>
    <i class="fa fa-pencil"></i> Edit Item
    <% end %>
  </div>
</div>
<script>
  $(document).on("page:change", function() {
    $('#item-chart').highcharts('StockChart', {
        rangeSelector: {
            selected: 1
        },
        credits: {
            enabled: false
        },
        xAxis: {

        },

        // <% if @item.price_increase? %>
        //   color: "green",
        // <% else %>
        //   color: "red",
        // <% end %>

        series : [{
            name: <%= raw @item.title.to_json %>,
            data: <%= @item.chart_json %>,
            tooltip : {
                valueDecimals: 2
            },
            color: '#35b017',
        }]
    });
  });
</script>
