<!DOCTYPE html>
<html>
<head>
  <title>turbotrader.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <!-- Nav -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to dashboard_path do %>
          <div class="turbo_brand navbar-brand">
            <span class="turbo_logo">turbo</span> <span class="trader_logo">trader</span>
          </div>
          <% end %>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i> <%= current_user.first_name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Edit Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li class="divider"></li>
              <% if current_user %>
              <li><%= link_to 'Log Out', destroy_user_session_path, { method: :delete } %></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <!-- Sidebar Menu Items -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-fw fa-th"></i> Dashboard
              <% end %>
            </li>

            <li>
              <%= link_to items_path do %>
                <i class="fa fa-fw fa-tags"></i> Items
              <% end %>
              </a>
            </li>

            <li><a href="#"><i class="fa fa-fw fa-tasks"></i> Collections</a></li>
          </ul>
        </div>
    </nav>

    <div id="page-wrapper">
      <div class="container-fluid">
      <%= yield %>
      </div>
    </div>

  </div>
</body>
</html>
