<!DOCTYPE html>
<html>
<head>
  <title>turbotrader.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <!-- Nav -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to dashboard_path do %>
          <div class="turbo_brand navbar-brand">
            <span class="turbo_logo">turbo</span> <span class="trader_logo">trader</span>
          </div>
          <% end %>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i> <%= current_user.first_name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="disabled"><a href="#">Edit Profile</a></li>
              <li class="disabled"><a href="#">Settings</a></li>
              <li class="divider"></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, { method: :delete } %></li>
            </ul>
          </li>
        </ul>

        <!-- Sidebar Menu Items -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="sidebar-search">
              <%= form_tag search_items_path, method: :get do %>
                <div class="input-group custom-search-form">
                <%= search_field_tag :q, "", class: "form-control", placeholder: "Search..." %>
                <span class="input-group-btn">
                <%= button_tag class: "btn btn-default" do %>
                <i class="fa fa-search"></i>
                <% end %>
                </span>
                </div>
              <% end %>
            </li>

            <li class='<%= controller_name == "dashboard" ? "active" : "" %>'>
              <%= link_to dashboard_path do %>
                <i class="fa fa-fw fa-th"></i> Dashboard
              <% end %>
            </li>

            <li class='<%= controller_name == "items" ? "active" : "" %>'>
              <%= link_to items_path do %>
                <i class="fa fa-fw fa-tags"></i> Items
              <% end %>
              </a>
            </li>
            <li>
              <a href="javascript:;" data-toggle="collapse" data-target="#collections"><i class="fa fa-fw fa-tasks"></i> Collections <i class="fa fa-fw fa-caret-down"></i></a>
              <ul class="nav nav-second-level collapse" id="collections">
                <% Collection.all.each do |collection| %>
                <li>
                  <a href="#"><%= collection.name %></a>
                </li>
                <% end %>
                <li>
                <%= link_to new_item_path do %>
                <i class="fa fa-plus"></i> Add new collection
                <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </nav>

    <div id="page-wrapper">
      <div class="container-fluid">
        <% flash.each do |key, value| %>
          <div class="alert alert-dismissable alert-<%= key %>"><%= value %> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
        <% end %>
      <%= yield %>
      </div>
    </div>

  </div>
</body>
</html>
